<table class="table">
    <thead>
        <tr>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Icon" %}</th>
            <th>{% trans "Actions" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for sc in shortcuts %}
        <tr>
            <td>{{ sc.title }}</td>
            <td><i class="bi {{ sc.ico }} text-primary"></i> {{ sc.get_ico_display }}</td>
            <td>
                <a href="{% url 'shortcut_edit' sc.id %}" class="btn btn-sm btn-primary edit-btn">{% trans "Edit" %}</a>
                <button class="btn btn-sm btn-danger delete-btn" data-url="{% url 'shortcut_delete_ajax' sc.id %}">{% trans "Delete" %}</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
