{% load i18n %}
<a class="btn btn-sm btn-primary edit-btn" href="{% url 'ConsultationEdit' record.id %}">
  {% trans "Edit" %}
</a>
<a class="btn btn-sm btn-primary edit-btn" href="{% url 'consultation_pdf' record.share_id %}" target="_blank">
  {% trans "Print" %}
</a>
<a class="btn btn-sm btn-primary edit-btn" href="{% url 'share_doc' record.share_id %}">
  {% trans "Share" %}
</a>
<button class="btn btn-sm btn-danger delete-btn" data-url="{% url 'consultation_delete_ajax' record.id %}">
  {% trans "Delete" %}
</button>
