{% load static %}
{% load clinic_tags %}
{% load i18n %}
{% get_clinic_info as clinic_info %}
<footer class="py-3 border-top py-5 px-3 px-lg-5">
  <div class="row row-cols-1 row-cols-md-2">
    <ul class="nav justify-content-start pb-3 mb-3">
      <li class="nav-item"><a href="{% url 'index' %}" class="nav-link px-2 text-body-secondary">{% trans "Home" %}</a></li>
      <li class="nav-item"><a href="/{{LANGUAGE_CODE}}/#about" class="nav-link px-2 text-body-secondary">{% trans "About" %}</a></li>
      <li class="nav-item"><a href="/{{LANGUAGE_CODE}}/#services" class="nav-link px-2 text-body-secondary">{% trans "Services" %}</a></li>
      <li class="nav-item"><a href="/{{LANGUAGE_CODE}}/#contact-us" class="nav-link px-2 text-body-secondary">{% trans "Booking" %}</a></li>
      <li class="nav-item"><a href="{% url 'PrivacyPolicy' %}" class="nav-link px-2 text-body-secondary">{% trans "Privacy policy" %}</a></li>
    </ul>
  </div>

  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <img width="100" src="{% static 'img/softmsg-logo.webp' %}" alt="website logo" loading="lazy">
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">© 2025 SOFTmsg</span>
    </div>

    <!-- قسم معلومات التواصل -->
    <div class="col-md-6 text-md-end mt-3 mt-md-0">
      <p class="mb-1"><i class="fa fa-phone me-2"></i> {{clinic_info.phone}}</p>
      <p class="mb-1"><i class="fa fa-envelope me-2"></i> {{clinic_info.email}}</p>
      <p class="mb-0"><i class="fa fa-map-marker-alt me-2"></i>{{clinic_info.address}}</p>
    </div>
  </div>
</footer>
